
.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

footer.page-footer {
    position: absolute;
    bottom: 0;
    background-color: darkslategray;
    color: chartreuse;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;
    
}
