<footer class="page-footer">
    <div class="row">
        <div class="col">
            <img src="assets/img/nautilus.jpg"
                 height="35em"
                 width="45em">
        </div>
        <div class="col"
             style="vertical-align: middle">&copy; 2019 Nautilus Concrete LLC
        </div>
        <div class="col"
             style="text-align:right">
            <img src="assets/img/nautilus.jpg"
                 height="35em"
                 width="45em"
                 class="rotateimg180"
                 float="right">
        </div>
    </div>
</footer>
