<footer class="fixed-bottom">
    <div class="row">
        <div class="col"
             id="lhFooter">
            <img src="assets/img/nautilus.jpg"
                 height="35em"
                 width="45em">

        </div>
        <div class="col"
             id="midFooter">
            <p>&copy; 2019 Nautilus Concrete LLC</p>
            <p>The current count is: {{ count$ | async }}</p>
        </div>
        <div class="col"
             id="rhFooter">
            <img src="assets/img/nautilus.jpg"
                 class="rotateImg180"
                 height="35em"
                 width="45em">

        </div>
    </div>
</footer>
