
.rotateImg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

footer {
    background-color: darkslategray;
    color: chartreuse;
    font-size: 0.8em;
    margin: 15px;
    padding: 10px;
}

div#rhFooter {
    float: right;
    text-align: right;
}

div#midFooter {
    text-align: center;
}

p {
    padding: 0px;
    margin: 0px;
}
