<div class="form-group">
    <label>New Book</label>
    <div class="row">
        <div class="col">
            <label>Title</label>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Author</label>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Format</label>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="inputGroupSelect01"
                           class="input-group-text">Options</label>
                </div>
                <select id="inputGroupSelect01"
                        class="custom-select">
                    <option selected>Choose...</option>
                    <option value="hard">Hardcover</option>
                    <option value="paper">Paperback</option>
                    <option value="ebook">E-Book</option>
                </select>
            </div>
        </div>
    </div>
</div>
